@font-face {
  font-family: RobotoCondensed;
  src: url(assets/RobotoCondensed-Light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/Economica-Bold.ttf);
}

body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: "RobotoCondensed";
  background-image: linear-gradient(
    120deg,
    hsl(271, 85%, 79%) 0%,
    #64adf5 100%
  );
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "EconomicaBold";
}

.App {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 1px solid #413f3f;
  align-items: baseline;
}
.header-container a {
  color: black;
  text-decoration: none;
}
.game-rules {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}
.grid {
  width: 100%;
  height: auto;
  padding: 5px;
  justify-content: center;
  text-align: start;
}

.cell {
  width: 18px;
  height: 16px;
  border: solid 1px rgb(148, 145, 145);
}
button {
  margin: 5px;
}
.game {
  width: 45%;
  margin-left: 5%;
}
.rules {
  width: 40%;
  margin-left: 7%;
  text-align: left;
}
